*{
  box-sizing: border-box;
}
html{
  line-height: 1.15;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    background-color: #ffffff;
  }
  
/*===================== Hero section ======================*/

.about-img{
  margin-left: -100px;
  right: -60px;
 }
 .btn{
  border: 2px solid rgb(255, 0, 0);
} 
.btn-white{
  background-color: #ffffff;
  border:2px solid #ff0000;
}
.btn-blue{
  border: 2.4px solid #fd0101;
  color: #ffffff;
}
.hero-text{
  margin-top: 150px;
}
.typed-cursor {
  font-size: 45px;
  color: #ffffff;
}
 
.position-absolute{
  font-weight: 700;
  
}

.typed-cursor {
  font-size: 45px;
  color: #ffffff;
}

.blue{
  background-color: #4b4c4e;
  color: #ffffff;
}
.btn{
  border: 2px solid rgb(255, 0, 0);
} 
.btn-white{
  background-color: #ffffff;
  border:2px solid #ffffff;
}
.btn-blue{
  border: 2.4px solid #ffffff;
  color: #ffffff;
}
@media (max-width: 700px) {
  .about-img{
    margin-left: 20px;
    right: 0px;
    top: 30px;
   }



/* ================ Navigation Menu ====================*/


.navbar-light {
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #000000;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #ff0000;
}


.dark{
  background-color: #2e2e2e;
  color: #000000;
}
.btn{
  border: 2px solid rgb(247, 29, 29);
}
}
/*===================== Progress Bar ====================*/

.progress {
  border-radius: 10px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}


